@page "/item"
@using DnmEplusPassword.Web.Components
@using DnmEplusPassword.Web.Models

<PageTitle>Item Codes</PageTitle>

<h1>Item Secret Code Generator</h1>

<EditForm Model="@Model" OnValidSubmit="GenerateSecretCode" OnInvalidSubmit="ClearSecretCode" style="max-width: 600px;">
    <DataAnnotationsValidator />

    <div class="row">
        <InputRecipient Recipient="@Model.Recipient" />
        <InputSender Sender="@Model.Sender" />
    </div>
    <div class="row">
        <InputItem Item="@Model.Item" />
    </div>
    <InputLanguage Language="@Model.Language" />

    <button type="submit" class="btn btn-primary">Generate</button>
</EditForm>

@if (SecretCode is not null)
{
    <OutputSecretCode SecretCode="@SecretCode" />
}

@code {
    private ItemCodeGenerator Model = new();
    private SecretCode? SecretCode = null;

    public void GenerateSecretCode()
    {
        SecretCode = Model.GenerateSecretCode();
    }

    public void ClearSecretCode()
    {
        SecretCode = null;
    }
}
