@page "/magazine"
@using DnmEplusPassword.Library.Data
@using DnmEplusPassword.Web.Components
@using DnmEplusPassword.Web.PageModels

<PageTitle>Magazine Codes</PageTitle>

<h1>Magazine Secret Code Generator</h1>

<EditForm Model="@Model" OnValidSubmit="GenerateSecretCode" OnInvalidSubmit="ClearSecretCode" style="max-width: 600px;">
    <DataAnnotationsValidator />

    <div class="row">
        <InputName Name="@Model.MagazineName" LabelText="Magazine Name" />
        <InputSuccessRate SuccessRate="@Model.SuccessRate" />
    </div>
    <div class="row">
        <InputItem Item="@Model.Item" />
    </div>
    <InputLanguage Language="@Model.Language" />

    <button type="submit" class="btn btn-primary">Generate</button>
</EditForm>

@if (SecretCode is not null)
{
    <OutputSecretCode SecretCode="@SecretCode" />
}

@code {
    private MagazineCodeGenerator Model = new();
    private PasswordOutput? SecretCode = null;

    public void GenerateSecretCode()
    {
        try
        {
            SecretCode = Model.GenerateSecretCode();
        }
        catch
        {
            SecretCode = null;
        }
    }

    public void ClearSecretCode()
    {
        SecretCode = null;
    }
}
