@page "/monument"
@using DnmEplusPassword.Library
@using DnmEplusPassword.Web.Components
@using DnmEplusPassword.Web.Models

<PageTitle>Monument</PageTitle>

<h1>Monument</h1>

<div style="max-width: 400px;">
    <InputRecipient Recipient="@Recipient" />
    <InputDecoration Decoration="@Decoration" />
    <InputPrice Price="@Price" />
    <InputPlacementAcre PlacementAcre="@PlacementAcre" />
    <InputLanguage Language="@Language" />

    <button class="btn btn-primary" @onclick="GeneratePassword">
        Generate Secret Code
    </button>
</div>

@if (SecretCode is not null)
{
    <OutputSecretCode SecretCode="@SecretCode" />
}

@code {
    private Recipient Recipient = new();
    private Decoration Decoration = new();
    private Price Price = new();
    private PlacementAcre PlacementAcre = new();
    private Language Language = new();
    private SecretCode? SecretCode = null;

    private void GeneratePassword()
    {
        try
        {
            var password = Encoder.Encode
            (
                codeType: CodeType.Monument,
                hitRateIndex: 0,
                recipientTown: Recipient.TownName.PadRight(6, ' '),
                recipient: Recipient.Name.PadRight(6, ' '),
                sender: Price.Value.ToString().PadRight(6, ' '),
                itemId: (ushort)(Decoration.Id % 15),
                extraData: ((PlacementAcre.Row & 7) << 3) | (PlacementAcre.Col & 7),
                englishPasswords: Language.IsEnglish
            );
            SecretCode = new()
            {
                Line1 = password.Item1,
                Line2 = password.Item2,
            };
        }
        catch
        {
            SecretCode = null;
        }
    }
}
