@page "/monument"
@using DnmEplusPassword.Web.Components
@using DnmEplusPassword.Web.Models

<PageTitle>Monument</PageTitle>

<h1>Monument</h1>

<EditForm Model="@Model" OnValidSubmit="GenerateSecretCode" OnInvalidSubmit="ClearSecretCode" style="max-width: 400px;">
    <DataAnnotationsValidator />

    <InputRecipient Recipient="@Model.Recipient" />
    <InputDecoration Decoration="@Model.Decoration" />
    <InputPrice Price="@Model.Price" />
    <InputPlacementAcre PlacementAcre="@Model.PlacementAcre" />
    <InputLanguage Language="@Model.Language" />

    <button type="submit" class="btn btn-primary">Generate Secret Code</button>
</EditForm>

@if (SecretCode is not null)
{
    <OutputSecretCode SecretCode="@SecretCode" />
}

@code {
    private MonumentCodeGenerator Model = new();
    private SecretCode? SecretCode = null;

    public void GenerateSecretCode()
    {
        SecretCode = Model.GenerateSecretCode();
    }

    public void ClearSecretCode()
    {
        SecretCode = null;
    }
}
