@inject HttpClient Http
@using Microsoft.AspNetCore.Components.QuickGrid
@using DnmEplusPassword.Web.Models

@if (FilteredCatalogItems is null)
{
    <p><em>Loading item catalog...</em></p>
}
else
{
    <div class="grid" tabindex="-1">
        <QuickGrid Items="@FilteredCatalogItems" Pagination="@Pagination" style="max-width: 600px;">
            <PropertyColumn Title="ID" Property="@(i => i.Id)" Sortable="true" />
            <PropertyColumn Title="English Name" Property="@(i => i.En)" Sortable="true">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="EnFilter" @bind:event="oninput" placeholder="Item name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Title="Japanese Name" Property="@(i => i.Ja)" Sortable="true">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="JaFilter" @bind:event="oninput" placeholder="Item name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <TemplateColumn Title="Action">
                <button type="button" class="btn @context.ButtonClass" @onclick="@(() => SelectItem(context))">Select</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Paginator State="@Pagination" />
}

@code {
    [Parameter]
    public required Item Item { get; set; }

    private record CatalogItem(string Id, string En, string Ja)
    {
        public bool IsSelected { get; set; } = false;
        public string ButtonClass => IsSelected ? "btn-dark" : "btn-light";
    };

    private PaginationState Pagination = new() { ItemsPerPage = 10 };
    private IQueryable<CatalogItem>? CatalogItems;

    private string? EnFilter;
    private string? JaFilter;

    private IQueryable<CatalogItem>? FilteredCatalogItems
    {
        get
        {
            if (CatalogItems is null)
            {
                return null;
            }
            var result = CatalogItems;
            if (!string.IsNullOrEmpty(EnFilter))
            {
                result = result.Where(item => item.En.Contains(EnFilter, StringComparison.CurrentCultureIgnoreCase));
            }
            if (!string.IsNullOrEmpty(JaFilter))
            {
                result = result.Where(item => item.Ja.Contains(JaFilter, StringComparison.CurrentCultureIgnoreCase));
            }
            return result;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        CatalogItems = await Http.GetFromJsonAsync<CatalogItem[]>("data/DnmEplusItemCatalog.json") is CatalogItem[] items
            ? items.AsQueryable()
            : null;
    }

    void SelectItem(CatalogItem selectedItem)
    {
        Item.Id = selectedItem.Id;
        foreach (var item in CatalogItems!)
        {
            if (item.IsSelected)
            {
                item.IsSelected = false;
            }
        }
        selectedItem.IsSelected = true;
    }
}
